# Data Analysis of Dataset

The data is about recently paid salaries(In year 2020-2022)
Maximum amount of Salaries were Paid in the year 2020(close to 300)
Close to 180 salaries  were paid in 2021
Very few salaries were paid in the year 2022(close to 50)
Most of the experience level in jobs are mid-level juniors and intermediate senior level
Some jobs are of Entry level experience 
There are very few jobs for Executive/Director level 
Almost all jobs are Full Time
Very less job profiles on Part-Time,Contract and Freelance Basis 

Top 10 most frequent job titles in decreasing order are:

1) Data Scientist

2) Data Engineer

3) Data Analyst

4) Machine Learning Engineer

5) Research Scientist 

6) Data Architect 

7) Data Science Manager

8) Data Analytics Manager

9) Lead Data Engineer 

10) Director of Data Science 


Top 10 countries w.r.t employee's primary residence during work year

1) USA
2) UK
3) Canada
4) Germany
5) France
6) Spain
7) Greece
8) Brazil
9) Portugal
10) Netherlands


Top 10 countries w.r.t employer's main office or contracting branch

1) USA
2) UK
3) Canada
4) Germany
5) France
6) Spain
7) Greece
8) Brazil
9) Poland
10)Netherlands 


Most of the salaries are paid in Euros(close to 400)
Some are paid in USD(Close to 100) and Pounds(Close to 50)
Very few jobs have their salaries paid in Yuan,Canadian Dollar,Danish Krone, Chilean Peso etc.
Maximum amount of jobs have 0% remote work(Around 350)
Around 125 jobs have 50% remote work
And around 80 jobs have 100% remote work
Maximum amount of companies(approx 300) are large companies with more than 250 employees 
Close to 150 companies are Small companies with less than 50 employees 
Close to 50 companies are medium companies with more 50 to 250 employees 
Maximum amount of salaries is offered by Large companies. The highest salaries were paid by the companies in 2021 and lowest in 2022, ranging from 400,000 to 800,000
Medium companies paid highest salaries in 2021 . In 2020-2022 salary ranges from 100,000 to 500,000
Small companies also paid the highest salaries in 2021 . In 2020-2022 salary ranges from 100,000 to 200,000

In year 2020 Medium - sized companies paid the highest salary in usd

In years 2021-2022 and Large size companies paid the highest salary in usd

In year 2020 salaries paid are by all 3 companies:
    
L: $100,000
S: Little less than $75,000
M: close to $112,500

In year 2021 salaries paid are by all 3 companies:
    
L: Little less than $135,500
S: Litte more than $75,000
M: close to $112,500

In year 2020 salaries paid are by all 3 companies:
    
L: Little less than $150,500
S: Little less than $75,000
M: close to $112,500
    
    
About 70% of remote work is done  in  large companies in all 3 years
Approx. 60% to 80% of remote work is done  in  Small companies in all 3 years , increased with time
Approx. 60% to 75% of remote work is done  in  Medium companies in all 3 years
Salaries for Entry level employees is the least in large companies
Overall highest amount salaries are paid by Large companies and lowest by medium companies
Medium and small companies are at par and pay less salaries to Expert and Senior level employees
There is very less difference between salaries of Large and small companies for mid-level employees
There is very less difference between salaries of mid-level and expert level employees in Large companies
In USD :

Highest salaries is offered to expert level employees and least for entry-level employees in all companies
Not much difference between salaries of mid level employees in Medium and Large companies
Not much difference between salaries of entry level employees in all companies
Small companies offer slightly less salary to mid-level employees as compared to entry level companies
Salary of Expert level employees offered by all companies ranges from approx. $200K to $250K
Salary of Mid level employees offered by all companies ranges from approx. $50K to $100K
Salary of Senior level employees offered by all companies ranges from approx. $100K to $150K
Salary of Entry level employees offered by all companies ranges is $50K and less

All companies have remote_ratio of 60 and above

For mid-level employees:
    
Large companies offer remote_ratio of 70
Small and medium  companies offer remote_ratio of close to 60

For senior-level employees:
    
Large companies offer remote_ratio of little more than 60
Small companies offer remote_ratio of close to 70
Medium companies offer remote_ratio of close to 80

For entry-level employees:
    
Large and medium companies offer remote_ratio of close to 70
Small company offer remote_ratio of close to 60


For expert-level employees:
    
Large companies offer remote_ratio of little more than 60
Small companies offer 100 remote_ratio 
Medium companies offer remote_ratio of close to 70


Out top 10 most frequent job_title

5 most highly paid job_titles:

Data Architect

Data Scientist Manager

Director of Data Science

Machine Learning Engineer

Data Analytics Manager


For Data Architect,Data Science Manager and Data Analytics Manager remote ratio ranges from 80% to 100%
For Data Scientist,Data Engineer,Data Analyst,Ml Engineer ,Ml Scientist and Lead Data Engineer
remote ratio ranges from 60% to 80%
Research Scientist have remote ratio between 50% to 60%
Director of Data Science have least remote_ratio of around 30%
Lowest Amount of salary in usd is offered by small companies
Medium companies offers slightly higher salary in usd  than large companies

Maximum Job applications are from America (Around 350)
Around 150 Job applications are from Europe
Less than 25 Job applications are from Asia
Very few  Job applications are from Africa,Australia and New zealand
Maximum head office of companies are in America (Around 350)
Around 150  head office of companies are in Europe
Less than 25  head office of companies are in Asia
Very few  head office of companies are in Africa,Australia and New zealand
Salary for Data Science,Data Analyst, Data Engineer,Research Scientist,AI Scientist,Data Acrhitect job domains etc is around
$120,000 
Salary for ML job domain etc is around $90,000 
In Europe highest salary is for data science jobs (close to $75K). Overall salary varies in range of $50K to $100K
In Asia highest salary is for jobs like Research Scientist,AI Scientist,Data Acrhitect (close to $150K). Overall salary varies
in range of $5K to $150K
In Australia and New zealand highest salary is for data Engineer jobs (close to $125K). Overall salary varies in range of
$75K to $125K
In America highest salary is for ML jobs (close to $150K). Overall salary varies in range of $100K to $150K
In Africa highest salary is for data science jobs (little less than $50K). Overall salary varies in range of $10K to $50K

Salary and Salary_in_usd are highly positively correlated to each other
However other features also play a quite important role in determining them

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [2]:
data=pd.read_csv("C:/Users/Arsh/Desktop/my project/DS job saleries/final_ds_salaries.csv")

data

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
558,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
559,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
560,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
561,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
562,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

# Little EDA before Modelling

In [3]:
data.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,563.0,2021.442274,0.683920,2020.0,2021.0,2022.0,2022.0,2022.0
salary,563.0,113104.868561,59369.779786,4000.0,65000.0,108800.0,150630.0,300000.0
salary_in_usd,563.0,111726.163410,56921.662830,2859.0,68714.0,105000.0,150000.0,276000.0
remote_ratio,563.0,71.403197,40.779580,0.0,50.0,100.0,100.0,100.0

The feature values is needed to be standerdized

In [5]:
data.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

# Data Preperation for Model Training

In [6]:
data1=data.copy()

# Labelencoding data

In [7]:
from sklearn.preprocessing import LabelEncoder

le_explvl=LabelEncoder()
le_emptype=LabelEncoder()
le_jobtitle=LabelEncoder()
le_compsize=LabelEncoder()

le_comploc=LabelEncoder()
le_empres=LabelEncoder()
le_salcurr=LabelEncoder()

In [8]:
data1["experience_level"]=le_explvl.fit_transform(data1["experience_level"])
data1["employment_type"]=le_emptype.fit_transform(data1["employment_type"])
data1["job_title"]=le_jobtitle.fit_transform(data1["job_title"])
data1["company_size"]=le_compsize.fit_transform(data1["company_size"])
data1["company_location"]=le_comploc.fit_transform(data1["company_location"])
data1["employee_residence"]=le_empres.fit_transform(data1["employee_residence"])
data1["salary_currency"]=le_salcurr.fit_transform(data1["salary_currency"])

In [9]:
data1

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,2,2,20,70000,6,79833,13,0,10,0
1,2020,3,2,38,260000,12,260000,30,0,26,2
2,2020,3,2,6,85000,7,109024,19,50,16,1
3,2020,2,2,44,20000,12,20000,22,0,18,2
4,2020,3,2,35,150000,12,150000,53,50,45,0
...,...,...,...,...,...,...,...,...,...,...,...
558,2022,3,2,15,154000,12,154000,53,100,45,1
559,2022,3,2,15,126000,12,126000,53,100,45,1
560,2022,3,2,11,129000,12,129000,53,0,45,1
561,2022,3,2,11,150000,12,150000,53,100,45,1
562,2022,2,2,0,200000,12,200000,25,100,45,0

In [10]:
#-------------- For Salary----------------------------

x1=data1.drop(["salary","salary_in_usd","work_year"],axis=1)
y1=data1["salary"]

#-------------- For Salary_in_usd----------------------------

x2=data1.drop(["salary_in_usd","work_year"],axis=1)
y2=data1["salary_in_usd"]

In [11]:
x1.shape

(563, 8)

In [12]:
x2.shape

(563, 9)

In [13]:
y1.shape

(563,)

In [14]:
y2.shape

(563,)

# Scaling down data

In [15]:
sc1=StandardScaler()
sc2=StandardScaler()
minmax1=MinMaxScaler()
minmax2=MinMaxScaler()

In [16]:
y1=y1.to_numpy()
y2=y2.to_numpy()

y1=y1.reshape(-1,1)
y2=y2.reshape(-1,1)

In [17]:
x1=sc1.fit_transform(x1)
y1=minmax1.fit_transform(y1)
x2=sc2.fit_transform(x2)
y2=minmax2.fit_transform(y2)

In [18]:
x1

array([[-0.16747424,  0.02348485,  0.10144401, ..., -1.75251179,
        -1.51790325, -1.29161419],
       [ 0.81469242,  0.02348485,  1.94050233, ..., -1.75251179,
        -0.49207442,  1.84954688],
       [ 0.81469242,  0.02348485, -1.32893468, ..., -0.52531759,
        -1.13321744,  0.27896635],
       ...,
       [ 0.81469242,  0.02348485, -0.81808515, ..., -1.75251179,
         0.72609732,  0.27896635],
       [ 0.81469242,  0.02348485, -0.81808515, ...,  0.70187661,
         0.72609732,  0.27896635],
       [-0.16747424,  0.02348485, -1.94195412, ...,  0.70187661,
         0.72609732, -1.29161419]])

In [19]:
y1

array([[0.22297297],
       [0.86486486],
       [0.27364865],
       [0.05405405],
       [0.49324324],
       [0.22972973],
       [0.62837838],
       [0.44256757],
       [0.40878378],
       [0.13851351],
       [0.10472973],
       [0.28040541],
       [0.27364865],
       [0.01351351],
       [0.32432432],
       [0.17567568],
       [0.99662162],
       [0.12837838],
       [0.31756757],
       [0.375     ],
       [0.12837838],
       [0.32432432],
       [0.51689189],
       [0.16215878],
       [0.22297297],
       [0.18918919],
       [0.125     ],
       [0.20608108],
       [0.33445946],
       [0.83108108],
       [0.02027027],
       [0.4527027 ],
       [0.14108108],
       [0.22297297],
       [0.13513514],
       [0.34459459],
       [0.28378378],
       [0.03378378],
       [0.18918919],
       [0.62162162],
       [0.34121622],
       [0.19425676],
       [0.29391892],
       [1.        ],
       [0.14864865],
       [0.18918919],
       [0.42567568],
       [0.10135135],
       [0.38513514],
       [0.39189189],
       [0.45388514],
       [0.35810811],
       [0.42837838],
       [0.05067568],
       [0.12162162],
       [0.1722973 ],
       [0.13243243],
       [0.62905405],
       [0.34121622],
       [0.25675676],
       [0.1722973 ],
       [0.11148649],
       [0.18918919],
       [0.49324324],
       [0.78040541],
       [0.13851351],
       [0.32432432],
       [0.89864865],
       [0.25675676],
       [0.21283784],
       [0.45945946],
       [0.21621622],
       [0.12162162],
       [0.42567568],
       [0.35810811],
       [0.15540541],
       [0.35810811],
       [0.56081081],
       [0.25675676],
       [0.23986486],
       [0.20608108],
       [0.91891892],
       [0.39189189],
       [0.02702703],
       [0.22297297],
       [0.26013514],
       [0.23986486],
       [0.49324324],
       [0.19594595],
       [0.23310811],
       [0.11302703],
       [0.78040541],
       [0.375     ],
       [0.49324324],
       [0.25675676],
       [0.2652027 ],
       [0.23986486],
       [0.02702703],
       [0.11621622],
       [0.74662162],
       [0.15540541],
       [0.10135135],
       [0.29054054],
       [0.66216216],
       [0.18918919],
       [0.66216216],
       [0.15540541],
       [0.25675676],
       [0.01608108],
       [0.49662162],
       [0.39189189],
       [0.05405405],
       [0.32432432],
       [0.12837838],
       [0.11621622],
       [0.06756757],
       [0.32432432],
       [0.29054054],
       [0.72972973],
       [0.25675676],
       [0.44256757],
       [0.7972973 ],
       [0.49324324],
       [0.2652027 ],
       [0.32432432],
       [0.22297297],
       [0.16554054],
       [0.29054054],
       [0.50337838],
       [0.52702703],
       [0.55405405],
       [0.49324324],
       [0.30743243],
       [0.03175676],
       [0.47297297],
       [0.52533784],
       [0.52702703],
       [0.39189189],
       [0.40878378],
       [0.76351351],
       [0.27364865],
       [0.06756757],
       [0.16891892],
       [0.35810811],
       [0.54391892],
       [0.25675676],
       [0.83108108],
       [0.1722973 ],
       [0.49324324],
       [0.56081081],
       [0.18918919],
       [0.18918919],
       [0.78040541],
       [0.16013514],
       [0.57432432],
       [0.18243243],
       [0.26013514],
       [0.24581081],
       [0.06081081],
       [0.13851351],
       [0.02702703],
       [0.        ],
       [0.15540541],
       [0.18581081],
       [0.20608108],
       [0.23648649],
       [0.5       ],
       [0.06028378],
       [0.0472973 ],
       [0.57432432],
       [0.39358108],
       [0.48310811],
       [0.01781081],
       [0.29054054],
       [0.16216216],
       [0.64527027],
       [0.09459459],
       [0.15540541],
       [0.52702703],
       [0.22162162],
       [0.66216216],
       [0.54391892],
       [0.05405405],
       [0.39189189],
       [0.05743243],
       [0.14864865],
       [0.14864865],
       [0.05743243],
       [0.61148649],
       [0.59459459],
       [0.24581081],
       [0.23986486],
       [0.45945946],
       [0.59459459],
       [0.27364865],
       [0.12466216],
       [0.74662162],
       [0.35810811],
       [0.23986486],
       [0.44256757],
       [0.29054054],
       [0.85135135],
       [0.66216216],
       [0.66216216],
       [0.59459459],
       [0.35810811],
       [0.25675676],
       [0.12027027],
       [0.        ],
       [0.42567568],
       [0.25675676],
       [0.35810811],
       [0.54391892],
       [0.16385135],
       [0.09121622],
       [0.35135135],
       [0.22297297],
       [0.56081081],
       [0.375     ],
       [0.29054054],
       [0.30067568],
       [0.40878378],
       [0.66216216],
       [0.48310811],
       [0.61148649],
       [0.39189189],
       [0.42567568],
       [0.16891892],
       [0.05945946],
       [0.52702703],
       [0.30118243],
       [0.36410473],
       [0.83108108],
       [0.1722973 ],
       [0.23141892],
       [0.33108108],
       [0.20608108],
       [0.27364865],
       [0.20851351],
       [0.32432432],
       [0.18243243],
       [0.1722973 ],
       [0.59459459],
       [0.15540541],
       [0.36486486],
       [0.32432432],
       [0.18581081],
       [0.34121622],
       [0.22296959],
       [0.28040541],
       [0.35472973],
       [0.13243243],
       [0.44256757],
       [0.51013514],
       [0.39391892],
       [0.42567568],
       [0.29054054],
       [0.56081081],
       [0.49324324],
       [0.33141892],
       [0.27331081],
       [0.44804054],
       [0.32216216],
       [0.29054054],
       [0.25675676],
       [0.47972973],
       [0.40202703],
       [0.12162162],
       [0.32094595],
       [0.37837838],
       [0.34547297],
       [0.41385135],
       [0.80405405],
       [0.66216216],
       [0.15540541],
       [0.08783784],
       [0.18918919],
       [0.12162162],
       [0.54466216],
       [0.10472973],
       [0.39243243],
       [0.29162162],
       [0.60114865],
       [0.43351351],
       [0.73010135],
       [0.5272973 ],
       [0.59459459],
       [0.39189189],
       [0.4060473 ],
       [0.42567568],
       [0.35810811],
       [0.56081081],
       [0.37668919],
       [0.36790541],
       [0.29162162],
       [0.36790541],
       [0.29162162],
       [0.54527027],
       [0.43351351],
       [0.55067568],
       [0.81047297],
       [0.44797297],
       [0.35567568],
       [0.421875  ],
       [0.30304054],
       [0.74324324],
       [0.55363176],
       [0.5777027 ],
       [0.51554054],
       [0.35405405],
       [0.30929054],
       [0.36824324],
       [0.44256757],
       [0.53156081],
       [0.44980068],
       [0.55067568],
       [0.40202703],
       [0.18918919],
       [0.15540541],
       [0.49324324],
       [0.70101351],
       [0.63648649],
       [0.29290541],
       [0.42567568],
       [0.19358108],
       [0.42567568],
       [0.19358108],
       [0.52702703],
       [0.45472973],
       [0.44594595],
       [0.18243243],
       [0.44256757],
       [0.56081081],
       [0.40202703],
       [0.62719595],
       [0.54390541],
       [0.15540541],
       [0.15540541],
       [0.49324324],
       [0.43243243],
       [0.54527027],
       [0.69180743],
       [0.48581081],
       [0.44930405],
       [0.32962838],
       [0.421875  ],
       [0.30304054],
       [0.43351351],
       [0.08277027],
       [0.54054054],
       [0.51013514],
       [0.30743243],
       [0.23986486],
       [0.39189189],
       [0.36790541],
       [0.29162162],
       [0.47635135],
       [0.34256757],
       [0.25675676],
       [0.29054054],
       [0.71385135],
       [0.52094595],
       [0.69290541],
       [0.50878378],
       [0.37815541],
       [0.26238514],
       [0.5777027 ],
       [0.23986486],
       [0.18243243],
       [0.60675676],
       [0.12162162],
       [0.59459459],
       [0.1722973 ],
       [0.10472973],
       [0.18918919],
       [0.13851351],
       [0.18918919],
       [0.13851351],
       [0.86486486],
       [0.18918919],
       [0.20236486],
       [0.52702703],
       [0.36587838],
       [0.80067568],
       [0.52364865],
       [0.59459459],
       [0.25675676],
       [0.26655405],
       [0.32702703],
       [0.13851351],
       [0.46081081],
       [0.08783784],
       [0.12162162],
       [0.08783784],
       [0.25675676],
       [0.22297297],
       [0.25675676],
       [0.22297297],
       [0.18918919],
       [0.25675676],
       [0.62719595],
       [0.54390541],
       [0.12162162],
       [0.08783784],
       [0.23986486],
       [0.18918919],
       [0.71385135],
       [0.22297297],
       [0.69290541],
       [0.50878378],
       [0.59459459],
       [0.05405405],
       [0.25675676],
       [0.32432432],
       [0.83108108],
       [0.39189189],
       [0.40878378],
       [0.7972973 ],
       [0.34121622],
       [0.25675676],
       [0.16554054],
       [0.32432432],
       [0.15540541],
       [0.48648649],
       [0.39189189],
       [0.47297297],
       [0.34084459],
       [0.32432432],
       [0.45945946],
       [0.44256757],
       [0.15540541],
       [0.72972973],
       [0.45945946],
       [0.45945946],
       [0.22297297],
       [0.61182432],
       [0.72972973],
       [0.66216216],
       [0.39189189],
       [0.39189189],
       [0.20608108],
       [0.71621622],
       [0.69594595],
       [0.39189189],
       [0.76351351],
       [0.32432432],
       [0.32432432],
       [0.08445946],
       [0.66216216],
       [0.23986486],
       [0.49324324],
       [0.32432432],
       [0.32432432],
       [0.50337838],
       [0.16486486],
       [0.54391892],
       [0.27364865],
       [0.21114865],
       [0.17905405],
       [0.08783784],
       [0.12162162],
       [0.39527027],
       [0.375     ],
       [0.39189189],
       [0.23986486],
       [0.18581081],
       [0.39189189],
       [0.51689189],
       [0.49324324],
       [0.29054054],
       [0.20608108],
       [0.20608108],
       [0.05405405],
       [0.14864865],
       [0.50168919],
       [0.19594595],
       [0.375     ],
       [0.28378378],
       [0.02027027],
       [0.05405405],
       [0.44256757],
       [0.58445946],
       [0.25      ],
       [0.44256757],
       [0.32432432],
       [0.29162162],
       [0.27364865],
       [0.23986486],
       [0.70945946],
       [0.63716216],
       [0.88648649],
       [0.70648649],
       [0.36790541],
       [0.51013514],
       [0.46385135],
       [0.33141892],
       [0.37815541],
       [0.26238514],
       [0.68479392],
       [0.32128378],
       [0.42567568],
       [0.375     ],
       [0.3597973 ],
       [0.42567568],
       [0.32111486],
       [0.52702703],
       [0.68006757],
       [0.46081081],
       [0.58108108],
       [0.47297297],
       [0.6625    ],
       [0.52702703],
       [0.47635135],
       [0.22466216],
       [0.68006757],
       [0.46081081],
       [0.68006757],
       [0.61047297],
       [0.57804054],
       [0.46030405],
       [0.37888514],
       [0.16891892],
       [0.56081081],
       [0.15540541],
       [0.25675676],
       [0.45945946],
       [0.69594595],
       [0.45945946],
       [0.32432432],
       [0.21959459],
       [0.69594595],
       [0.45945946],
       [0.69594595],
       [0.49349662],
       [0.32432432],
       [0.07094595],
       [0.41385135],
       [0.34547297],
       [0.73010135],
       [0.5272973 ],
       [0.34121622],
       [0.36123311],
       [0.10472973],
       [0.45945946],
       [0.32094595],
       [0.18918919],
       [0.63704054],
       [0.47585811],
       [0.76351351],
       [0.49324324],
       [0.49412162],
       [0.35567568],
       [0.69594595],
       [0.56081081],
       [0.52702703],
       [0.42567568],
       [0.21283784],
       [0.16216216],
       [0.50675676],
       [0.41216216],
       [0.4222973 ],
       [0.49324324],
       [0.66216216]])

In [20]:
x2

array([[-0.16747424,  0.02348485,  0.10144401, ..., -1.75251179,
        -1.51790325, -1.29161419],
       [ 0.81469242,  0.02348485,  1.94050233, ..., -1.75251179,
        -0.49207442,  1.84954688],
       [ 0.81469242,  0.02348485, -1.32893468, ..., -0.52531759,
        -1.13321744,  0.27896635],
       ...,
       [ 0.81469242,  0.02348485, -0.81808515, ..., -1.75251179,
         0.72609732,  0.27896635],
       [ 0.81469242,  0.02348485, -0.81808515, ...,  0.70187661,
         0.72609732,  0.27896635],
       [-0.16747424,  0.02348485, -1.94195412, ...,  0.70187661,
         0.72609732, -1.29161419]])

In [21]:
y2

array([[0.28181049],
       [0.9414222 ],
       [0.38868204],
       [0.06275513],
       [0.53869979],
       [0.253133  ],
       [0.6851443 ],
       [0.4837831 ],
       [0.44717197],
       [0.17742485],
       [0.13566986],
       [0.30804969],
       [0.30072746],
       [0.01882178],
       [0.40707181],
       [0.19455519],
       [0.14817256],
       [0.16489652],
       [0.34832193],
       [0.41056085],
       [0.14329961],
       [0.35564415],
       [0.41826383],
       [0.20664785],
       [0.24581077],
       [0.2400555 ],
       [0.16072285],
       [0.26093117],
       [0.36662749],
       [0.90481107],
       [0.02614401],
       [0.49476644],
       [0.1570654 ],
       [0.28181049],
       [0.17324752],
       [0.37761083],
       [0.40277   ],
       [0.0479862 ],
       [0.27128479],
       [0.67782208],
       [0.37394972],
       [0.24631967],
       [0.32269414],
       [0.15756331],
       [0.18994951],
       [0.20919964],
       [0.53233312],
       [0.13149619],
       [0.42154418],
       [0.42886641],
       [0.49604783],
       [0.39225528],
       [0.46840643],
       [0.06886553],
       [0.15654552],
       [0.21917984],
       [0.16990858],
       [0.68587653],
       [0.37394972],
       [0.32356182],
       [0.21917984],
       [0.14402085],
       [0.29167719],
       [0.53869979],
       [0.84989438],
       [0.18427479],
       [0.35564415],
       [0.97803332],
       [0.2824219 ],
       [0.27948203],
       [0.50208866],
       [0.18810431],
       [0.16263761],
       [0.55212509],
       [0.09378673],
       [0.20591196],
       [0.39225528],
       [0.61192205],
       [0.2824219 ],
       [0.31410517],
       [0.27082716],
       [1.        ],
       [0.31644828],
       [0.03346623],
       [0.24581077],
       [0.34006978],
       [0.26411634],
       [0.53869979],
       [0.21652187],
       [0.25679411],
       [0.17814975],
       [0.67577918],
       [0.41056085],
       [0.53869979],
       [0.33574235],
       [0.40498131],
       [0.36721327],
       [0.03346623],
       [0.15571445],
       [0.81328325],
       [0.17258852],
       [0.13666934],
       [0.31903303],
       [0.72175543],
       [0.20919964],
       [0.72175543],
       [0.17258852],
       [0.39239074],
       [0.02744004],
       [0.54236091],
       [0.42886641],
       [0.06275513],
       [0.35564415],
       [0.17129248],
       [0.13011961],
       [0.07739958],
       [0.35564415],
       [0.31903303],
       [0.79497769],
       [0.2824219 ],
       [0.4837831 ],
       [0.86819994],
       [0.53869979],
       [0.29157468],
       [0.35564415],
       [0.29246799],
       [0.21889793],
       [0.31903303],
       [0.54968313],
       [0.57531092],
       [0.60459982],
       [0.53869979],
       [0.26695004],
       [0.03859179],
       [0.51673312],
       [0.4553033 ],
       [0.4254213 ],
       [0.42886641],
       [0.44717197],
       [0.83158881],
       [0.30072746],
       [0.09339499],
       [0.22322537],
       [0.46557273],
       [0.59361648],
       [0.2824219 ],
       [0.90481107],
       [0.19089408],
       [0.53869979],
       [0.61192205],
       [0.29167719],
       [0.20919964],
       [0.84989438],
       [0.21197111],
       [0.6265665 ],
       [0.        ],
       [0.28608301],
       [0.32172028],
       [0.08474012],
       [0.21614111],
       [0.03346623],
       [0.00417733],
       [0.17258852],
       [0.24486254],
       [0.27082716],
       [0.26045522],
       [0.54602202],
       [0.06950623],
       [0.05543291],
       [0.6265665 ],
       [0.34141341],
       [0.52771645],
       [0.02347872],
       [0.31903303],
       [0.2145705 ],
       [0.70344987],
       [0.12801447],
       [0.17258852],
       [0.57531092],
       [0.03676489],
       [0.72175543],
       [0.59361648],
       [0.06275513],
       [0.42886641],
       [0.08041268],
       [0.19725709],
       [0.23124687],
       [0.08041268],
       [0.66683874],
       [0.09427365],
       [0.32172028],
       [0.31410517],
       [0.50208866],
       [0.16012975],
       [0.41756822],
       [0.19549244],
       [0.81328325],
       [0.31075159],
       [0.31410517],
       [0.4837831 ],
       [0.25234952],
       [0.92677774],
       [0.72175543],
       [0.72175543],
       [0.64853318],
       [0.39225528],
       [0.22314848],
       [0.16090591],
       [0.00417733],
       [0.36915732],
       [0.2824219 ],
       [0.39225528],
       [0.59361648],
       [0.25390915],
       [0.12368703],
       [0.03384333],
       [0.34203214],
       [0.61192205],
       [0.41056085],
       [0.31903303],
       [0.33001637],
       [0.3545568 ],
       [0.72175543],
       [0.62569515],
       [0.66683874],
       [0.50884708],
       [0.46547754],
       [0.22322537],
       [0.08300841],
       [0.57531092],
       [0.33056553],
       [0.39875376],
       [0.09210261],
       [0.2275528 ],
       [0.25496355],
       [0.05875354],
       [0.27082716],
       [0.30072746],
       [0.27394276],
       [0.35564415],
       [0.20187742],
       [0.19089408],
       [0.06338118],
       [0.20591196],
       [0.39957751],
       [0.35564415],
       [0.24486254],
       [0.37394972],
       [0.24580711],
       [0.36603805],
       [0.38859417],
       [0.17648394],
       [0.4837831 ],
       [0.55700536],
       [0.43106308],
       [0.46547754],
       [0.31903303],
       [0.61192205],
       [0.53869979],
       [0.36333249],
       [0.30036135],
       [0.4897141 ],
       [0.35330104],
       [0.42077169],
       [0.37285871],
       [0.52405534],
       [0.43984975],
       [0.18119579],
       [0.35198304],
       [0.41422196],
       [0.37856272],
       [0.45266364],
       [0.87552217],
       [0.72175543],
       [0.22910878],
       [0.13327915],
       [0.27702542],
       [0.18119579],
       [0.59442193],
       [0.15723747],
       [0.42945219],
       [0.32020458],
       [0.65563573],
       [0.47397132],
       [0.79538041],
       [0.57560381],
       [0.64853318],
       [0.42886641],
       [0.44420647],
       [0.46547754],
       [0.39225528],
       [0.61192205],
       [0.4123914 ],
       [0.40287251],
       [0.32020458],
       [0.40287251],
       [0.32020458],
       [0.59508093],
       [0.47397132],
       [0.60093871],
       [0.88247828],
       [0.48964088],
       [0.38961928],
       [0.46135879],
       [0.33257914],
       [0.80962214],
       [0.60414218],
       [0.63022761],
       [0.56286314],
       [0.38786195],
       [0.3393522 ],
       [0.40323862],
       [0.4837831 ],
       [0.58022413],
       [0.49162154],
       [0.60093871],
       [0.43984975],
       [0.27702542],
       [0.22910878],
       [0.53869979],
       [0.76385823],
       [0.69393097],
       [0.32159581],
       [0.46547754],
       [0.21395909],
       [0.46547754],
       [0.21395909],
       [0.57531092],
       [0.49696311],
       [0.48744421],
       [0.20187742],
       [0.4837831 ],
       [0.61192205],
       [0.43984975],
       [0.68386291],
       [0.59360184],
       [0.19073665],
       [0.19073665],
       [0.42222881],
       [0.47279976],
       [0.59508093],
       [0.75388169],
       [0.53064534],
       [0.49108336],
       [0.3613921 ],
       [0.46135879],
       [0.33257914],
       [0.47397132],
       [0.12609238],
       [0.58995537],
       [0.55700536],
       [0.44473001],
       [0.34890038],
       [0.42886641],
       [0.40287251],
       [0.32020458],
       [0.52039423],
       [0.37541416],
       [0.31146185],
       [0.42077169],
       [0.77777046],
       [0.56872092],
       [0.75507156],
       [0.55554091],
       [0.41398033],
       [0.28852131],
       [0.63022761],
       [0.34890038],
       [0.20187742],
       [0.66171318],
       [0.18119579],
       [0.64853318],
       [0.2530671 ],
       [0.15723747],
       [0.2309796 ],
       [0.17061518],
       [0.27702542],
       [0.20515045],
       [0.9414222 ],
       [0.20919964],
       [0.22347798],
       [0.57531092],
       [0.40067584],
       [0.87186105],
       [0.57164981],
       [0.64853318],
       [0.2824219 ],
       [0.29303913],
       [0.35857304],
       [0.17061518],
       [0.50355311],
       [0.13327915],
       [0.15049736],
       [0.11025441],
       [0.31146185],
       [0.27121889],
       [0.37285871],
       [0.32494206],
       [0.2309796 ],
       [0.31146185],
       [0.68386291],
       [0.59360184],
       [0.15049736],
       [0.11025441],
       [0.34890038],
       [0.27702542],
       [0.77777046],
       [0.27121889],
       [0.75507156],
       [0.55554091],
       [0.64853318],
       [0.07001512],
       [0.2824219 ],
       [0.27799561],
       [0.71069521],
       [0.42886641],
       [0.44717197],
       [0.12585807],
       [0.37394972],
       [0.31146185],
       [0.202811  ],
       [0.35564415],
       [0.19073665],
       [0.58510074],
       [0.42886641],
       [0.51673312],
       [0.373547  ],
       [0.35564415],
       [0.50208866],
       [0.4837831 ],
       [0.17258852],
       [0.79497769],
       [0.50208866],
       [0.66035125],
       [0.32494206],
       [0.66720485],
       [0.79497769],
       [0.72175543],
       [0.42886641],
       [0.42886641],
       [0.22750521],
       [0.78033323],
       [0.75836656],
       [0.42886641],
       [0.83158881],
       [0.35564415],
       [0.35564415],
       [0.10623085],
       [0.72175543],
       [0.26411634],
       [0.11983188],
       [0.27799561],
       [0.35564415],
       [0.54968313],
       [0.20200556],
       [0.59361648],
       [0.33157966],
       [0.18136054],
       [0.21890525],
       [0.11025441],
       [0.13597739],
       [0.30960566],
       [0.41056085],
       [0.30696234],
       [0.26411634],
       [0.22695238],
       [0.42886641],
       [0.56432758],
       [0.53869979],
       [0.24914971],
       [0.22750521],
       [0.25109742],
       [0.06275513],
       [0.16526629],
       [0.54785257],
       [0.23902673],
       [0.43745538],
       [0.24337979],
       [0.02614401],
       [0.06275513],
       [0.4837831 ],
       [0.63754984],
       [0.27509967],
       [0.4837831 ],
       [0.35564415],
       [0.32020458],
       [0.30072746],
       [0.26411634],
       [0.77301101],
       [0.6946632 ],
       [0.96485332],
       [0.76978923],
       [0.40287251],
       [0.55700536],
       [0.50684811],
       [0.36333249],
       [0.41398033],
       [0.28852131],
       [0.74628122],
       [0.35234915],
       [0.46547754],
       [0.41056085],
       [0.39408584],
       [0.46547754],
       [0.3521661 ],
       [0.57531092],
       [0.74115933],
       [0.50355311],
       [0.63388872],
       [0.51673312],
       [0.72212154],
       [0.57531092],
       [0.52039423],
       [0.24764133],
       [0.74115933],
       [0.50355311],
       [0.74115933],
       [0.66574041],
       [0.63059372],
       [0.50300394],
       [0.41477113],
       [0.18723297],
       [0.61192205],
       [0.22910878],
       [0.2824219 ],
       [0.50208866],
       [0.75836656],
       [0.50208866],
       [0.35564415],
       [0.24214966],
       [0.75836656],
       [0.50208866],
       [0.75836656],
       [0.53897438],
       [0.35564415],
       [0.0810607 ],
       [0.45266364],
       [0.37856272],
       [0.79538041],
       [0.57560381],
       [0.37394972],
       [0.39564181],
       [0.15723747],
       [0.50208866],
       [0.35198304],
       [0.20919964],
       [0.6945314 ],
       [0.51985971],
       [0.83158881],
       [0.53869979],
       [0.53965168],
       [0.38961928],
       [0.75836656],
       [0.61192205],
       [0.57531092],
       [0.46547754],
       [0.23482743],
       [0.17991074],
       [0.55334424],
       [0.45083309],
       [0.46181642],
       [0.53869979],
       [0.72175543]])

# Model Training

In [22]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x1,y1,test_size=0.2,random_state=0)
x_train2,x_test2,y_train2,y_test2=train_test_split(x2,y2,test_size=0.2,random_state=0)

In [23]:
x_train1.shape

(450, 8)

In [24]:
x_test1.shape

(113, 8)

In [25]:
y_train1.shape

(450, 1)

In [26]:
y_test1.shape

(113, 1)

In [27]:
x_train2.shape

(450, 9)

In [28]:
x_test2.shape

(113, 9)

In [29]:
y_train2.shape

(450, 1)

In [30]:
y_test2.shape

(113, 1)

# Linear Regression

In [31]:
lr1=LinearRegression()
lr2=LinearRegression()

# x_train1,y_train1,x_test1,y_test1 model training

In [32]:
lr1.fit(x_train1,y_train1)

ytrain1_pred=lr1.predict(x_train1)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest1_pred=lr1.predict(x_test1)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train1,ytrain1_pred))
print("Test Data MSE: ",mean_squared_error(y_test1,ytest1_pred))

Train Data MSE:  0.02939258917508507
Test Data MSE:  0.02004503717624745

In [33]:
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))

Train RMSE:  0.17144267022852003
Test RMSE:  0.1415804971606169

# x_train2,y_train2,x_test2,y_test2 model training

In [34]:
lr2.fit(x_train2,y_train2)

ytrain2_pred=lr2.predict(x_train2)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest2_pred=lr2.predict(x_test2)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train2,ytrain2_pred))
print("Test Data MSE: ",mean_squared_error(y_test2,ytest2_pred))

Train Data MSE:  0.007771069143941931
Test Data MSE:  0.005480261534347417

In [35]:
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))

Train RMSE:  0.08815366778496474
Test RMSE:  0.07402878855112663

# SVR

In [36]:
from sklearn.svm import SVR

In [37]:
svr1=SVR()
svr2=SVR()

# x_train1,y_train1,x_test1,y_test1 model training

In [38]:
svr1.fit(x_train1,y_train1)

ytrain1_pred=svr1.predict(x_train1)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest1_pred=svr1.predict(x_test1)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train1,ytrain1_pred))
print("Test Data MSE: ",mean_squared_error(y_test1,ytest1_pred))

Train Data MSE:  0.01533168203522121
Test Data MSE:  0.019476702536581667

C:\Users\Arsh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))

Train RMSE:  0.12382116957621266
Test RMSE:  0.1395589572065572

# x_train2,y_train2,x_test2,y_test2 model training

In [40]:
svr2.fit(x_train2,y_train2)

ytrain2_pred=svr2.predict(x_train2)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest2_pred=svr2.predict(x_test2)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train2,ytrain2_pred))
print("Test Data MSE: ",mean_squared_error(y_test2,ytest2_pred))

Train Data MSE:  0.004549316354154223
Test Data MSE:  0.0074270914262923775

C:\Users\Arsh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [41]:
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))

Train RMSE:  0.06744862010563465
Test RMSE:  0.0861805745298346

# LR is slightly better than SVR on data dataset

# Decision Tree Regressor

In [42]:
from sklearn.tree import DecisionTreeRegressor

In [43]:
dtr1=DecisionTreeRegressor()
dtr2=DecisionTreeRegressor()

# x_train1,y_train1,x_test1,y_test1 model training

In [44]:
dtr1.fit(x_train1,y_train1)

ytrain1_pred=dtr1.predict(x_train1)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest1_pred=dtr1.predict(x_test1)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train1,ytrain1_pred))
print("Test Data MSE: ",mean_squared_error(y_test1,ytest1_pred))
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))

Train Data MSE:  0.00565645177963482
Test Data MSE:  0.02183813130830913
Train RMSE:  0.0752093862468962
Test RMSE:  0.14777730308917242

# x_train2,y_train2,x_test2,y_test2 model training

In [45]:
dtr2.fit(x_train2,y_train2)

ytrain2_pred=dtr2.predict(x_train2)

#ytrain_pred=minmax.inverse_transform(ytrain_pred)

ytest2_pred=dtr2.predict(x_test2)

#ytest_pred=minmax.inverse_transform(ytest_pred)

print("Train Data MSE: ",mean_squared_error(y_train2,ytrain2_pred))
print("Test Data MSE: ",mean_squared_error(y_test2,ytest2_pred))
print("Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
print("Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))

Train Data MSE:  2.3967128196818935e-34
Test Data MSE:  0.003918975284394695
Train RMSE:  1.5481320420693753e-17
Test RMSE:  0.06260171950030363

# DTR is biased on  data dataset still well try with hyperparameter Tuning

# DTR Hyperparameter  Tuning

# max_depth at max_features NONE

In [46]:
max_depth=[2,3,4,5,6,7,8]

for md in max_depth:
    
    dtr1=DecisionTreeRegressor(max_depth=md)
    dtr2=DecisionTreeRegressor(max_depth=md)
    
    print("At depth: ",md)
    
    dtr1.fit(x_train1,y_train1)

    ytrain1_pred=dtr1.predict(x_train1)
    ytest1_pred=dtr1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    dtr2.fit(x_train2,y_train2)

    ytrain2_pred=dtr2.predict(x_train2)
    
    ytest2_pred=dtr2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At depth:  2
Sal Train RMSE:  0.15589102984120318
Sal Test RMSE:  0.14627534973895978


Sal_in_usd Train RMSE:  0.09703379923191395
Sal_in_usd Test RMSE:  0.07935857217359045



At depth:  3
Sal Train RMSE:  0.14472975293913773
Sal Test RMSE:  0.1385654905866779


Sal_in_usd Train RMSE:  0.07197220527143532
Sal_in_usd Test RMSE:  0.07036017455616049



At depth:  4
Sal Train RMSE:  0.13149829136525024
Sal Test RMSE:  0.15562364971588327


Sal_in_usd Train RMSE:  0.046232071056796366
Sal_in_usd Test RMSE:  0.06643340077954919



At depth:  5
Sal Train RMSE:  0.1215738811475454
Sal Test RMSE:  0.15861865179753998


Sal_in_usd Train RMSE:  0.034506040474563404
Sal_in_usd Test RMSE:  0.06467264862873451



At depth:  6
Sal Train RMSE:  0.11188679761449741
Sal Test RMSE:  0.14392406361807003


Sal_in_usd Train RMSE:  0.019515973288735458
Sal_in_usd Test RMSE:  0.06464972912127641



At depth:  7
Sal Train RMSE:  0.10097386286392956
Sal Test RMSE:  0.14053720131552452


Sal_in_usd Train RMSE:  0.013220566259955343
Sal_in_usd Test RMSE:  0.06383630199257259



At depth:  8
Sal Train RMSE:  0.0927009681446589
Sal Test RMSE:  0.1379988291888821


Sal_in_usd Train RMSE:  0.007730624797688969
Sal_in_usd Test RMSE:  0.06311419002011437

# max_features at max_depth 5

In [47]:
max_features=["auto","sqrt","log2"]

for mf in max_features:
    
    dtr1=DecisionTreeRegressor(max_depth=5,max_features=mf)
    dtr2=DecisionTreeRegressor(max_depth=5,max_features=mf)
    
    print("At max_features: ",mf)
    
    dtr1.fit(x_train1,y_train1)

    ytrain1_pred=dtr1.predict(x_train1)
    ytest1_pred=dtr1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    dtr2.fit(x_train2,y_train2)

    ytrain2_pred=dtr2.predict(x_train2)
    
    ytest2_pred=dtr2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At max_features:  auto
Sal Train RMSE:  0.1215738811475454
Sal Test RMSE:  0.1587659960533633


Sal_in_usd Train RMSE:  0.034506040474563404
Sal_in_usd Test RMSE:  0.06467264862873448



At max_features:  sqrt
Sal Train RMSE:  0.1440104739695644
Sal Test RMSE:  0.15985588223011


Sal_in_usd Train RMSE:  0.09043720509237799
Sal_in_usd Test RMSE:  0.11481138455956479



At max_features:  log2
Sal Train RMSE:  0.14437556762779472
Sal Test RMSE:  0.14318544140586928


Sal_in_usd Train RMSE:  0.09187657835376782
Sal_in_usd Test RMSE:  0.09705747666235241

C:\Users\Arsh\anaconda3\lib\site-packages\sklearn\tree\_classes.py:306: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\Arsh\anaconda3\lib\site-packages\sklearn\tree\_classes.py:306: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(

# DTR working much better with max_depth=5 . It is not biased and better performance than SVR and LR

# RandomForestRegressor

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
rft1=RandomForestRegressor()
rft2=RandomForestRegressor()

In [50]:
rft1.fit(x_train1,y_train1)

ytrain1_pred=rft1.predict(x_train1)
ytest1_pred=rft1.predict(x_test1)

print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
print("\n")
    
rft2.fit(x_train2,y_train2)

ytrain2_pred=rft2.predict(x_train2)
    
ytest2_pred=rft2.predict(x_test2)

print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/2902215390.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.08770543449629195
Sal Test RMSE:  0.13149291628930926

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/2902215390.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.0216986938300504
Sal_in_usd Test RMSE:  0.0491474223376994

# rft working pretty good try to improvise through hyperparameter tuning

# n_estimators at default depth None

In [51]:
estimators=[150,160,170,180,190,200]

for est in estimators:
    
    rft1=RandomForestRegressor(n_estimators=est)
    rft2=RandomForestRegressor(n_estimators=est)
    
    print("At estimators: ",est)
    
    rft1.fit(x_train1,y_train1)

    ytrain1_pred=rft1.predict(x_train1)
    ytest1_pred=rft1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    rft2.fit(x_train2,y_train2)

    ytrain2_pred=rft2.predict(x_train2)
    
    ytest2_pred=rft2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At estimators:  150

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.08772041803951193
Sal Test RMSE:  0.13193368189572205

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.02345778877263712
Sal_in_usd Test RMSE:  0.054913075038773046



At estimators:  160

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.08720678365170632
Sal Test RMSE:  0.13110166862304967

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.0224735698463026
Sal_in_usd Test RMSE:  0.05327600302451715



At estimators:  170

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0873671777765074
Sal Test RMSE:  0.1326579704216209

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.024270226286838746
Sal_in_usd Test RMSE:  0.05449704676198354



At estimators:  180

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0876966602134003
Sal Test RMSE:  0.13263670090037025

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.024037312802299562
Sal_in_usd Test RMSE:  0.05298120166303218



At estimators:  190

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.08708859393800375
Sal Test RMSE:  0.1326859376478548

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.02355195476483673
Sal_in_usd Test RMSE:  0.05294445020410492



At estimators:  200

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.08711132473450148
Sal Test RMSE:  0.1315003130633185

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/267109605.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.023433768914616324
Sal_in_usd Test RMSE:  0.05313679791446567

# max_depth at n_estimators at 200

In [52]:
max_depth=[2,3,4,5,6,7,8]

for md in max_depth:
    
    rft1=RandomForestRegressor(n_estimators=200,max_depth=md)
    rft2=RandomForestRegressor(n_estimators=200,max_depth=md)
    
    print("At depth: ",md)
    
    rft1.fit(x_train1,y_train1)

    ytrain1_pred=rft1.predict(x_train1)
    ytest1_pred=rft1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    rft2.fit(x_train2,y_train2)

    ytrain2_pred=rft2.predict(x_train2)
    
    ytest2_pred=rft2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At depth:  2

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.15179514644821693
Sal Test RMSE:  0.14416309135811664

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.08943193334357524
Sal_in_usd Test RMSE:  0.07578681557887007



At depth:  3

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.13783040177357234
Sal Test RMSE:  0.1381965368173691

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.06425923198805202
Sal_in_usd Test RMSE:  0.06283660803296294



At depth:  4

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.12712642853049597
Sal Test RMSE:  0.1358572994064735

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.0440461551292147
Sal_in_usd Test RMSE:  0.05381493517373794



At depth:  5

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.11586535993548881
Sal Test RMSE:  0.1319778542699289

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.03653606741908136
Sal_in_usd Test RMSE:  0.05300662585040449



At depth:  6

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.10697255230406351
Sal Test RMSE:  0.1306352929226325

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.03110314981422502
Sal_in_usd Test RMSE:  0.055087846802668254



At depth:  7

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.099566066986775
Sal Test RMSE:  0.13044688390068843

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.02439370837212642
Sal_in_usd Test RMSE:  0.05452024565527669



At depth:  8

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.09480894336587357
Sal Test RMSE:  0.13009566010744247

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3284441760.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.022570618058116425
Sal_in_usd Test RMSE:  0.05250079623618185

# RFT is at estimators 200 and max_depth 8 working better than DTR

# ExtraTreesRegressor

In [53]:
from sklearn.ensemble import ExtraTreesRegressor

In [54]:
eft1=ExtraTreesRegressor()
eft2=ExtraTreesRegressor()

In [55]:
eft1.fit(x_train1,y_train1)

ytrain1_pred=eft1.predict(x_train1)
ytest1_pred=eft1.predict(x_test1)

print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
print("\n")
    
eft2.fit(x_train2,y_train2)

ytrain2_pred=eft2.predict(x_train2)
    
ytest2_pred=eft2.predict(x_test2)

print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1925755365.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.13771952831202408

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1925755365.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  6.519470766456775e-16
Sal_in_usd Test RMSE:  0.04197939732815651

# eft is biased try to improvise through hyperparameter tuning

# n_estimators at default depth None

In [56]:
estimators=[120,140,160,180,200]

for est in estimators:
    
    eft1=ExtraTreesRegressor(n_estimators=est)
    eft2=ExtraTreesRegressor(n_estimators=est)
    
    print("At estimators: ",est)
    
    eft1.fit(x_train1,y_train1)

    ytrain1_pred=eft1.predict(x_train1)
    ytest1_pred=eft1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    eft2.fit(x_train2,y_train2)

    ytrain2_pred=eft2.predict(x_train2)
    
    ytest2_pred=eft2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At estimators:  120

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.13676721258905764

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  7.598498687251373e-16
Sal_in_usd Test RMSE:  0.04539865899355363



At estimators:  140

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.1372859819124748

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  8.510509684745772e-16
Sal_in_usd Test RMSE:  0.04115137579395525



At estimators:  160

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.13592736736332148

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  9.6932960735306e-16
Sal_in_usd Test RMSE:  0.04134327102997882



At estimators:  180

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.13740221971727326

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  1.0824508692382216e-15
Sal_in_usd Test RMSE:  0.04664534508541009



At estimators:  200

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0752093862468962
Sal Test RMSE:  0.1364947104330151

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/1535922193.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  1.1880272508093884e-15
Sal_in_usd Test RMSE:  0.046240439206311434

# max_depth at n_estimators at 100(default)

In [57]:
max_depth=[2,3,4,5,6,7,8]

for md in max_depth:
    
    eft1=ExtraTreesRegressor(max_depth=md)
    eft2=ExtraTreesRegressor(max_depth=md)
    
    print("At depth: ",md)
    
    eft1.fit(x_train1,y_train1)

    ytrain1_pred=eft1.predict(x_train1)
    ytest1_pred=eft1.predict(x_test1)

    print("Sal Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train1,ytrain1_pred)))
    print("Sal Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test1,ytest1_pred)))
    
    print("\n")
    
    eft2.fit(x_train2,y_train2)

    ytrain2_pred=eft2.predict(x_train2)
    
    ytest2_pred=eft2.predict(x_test2)

    print("Sal_in_usd Train RMSE: ",np.sqrt(metrics.mean_squared_error(y_train2,ytrain2_pred)))
    print("Sal_in_usd Test RMSE: ",np.sqrt(metrics.mean_squared_error(y_test2,ytest2_pred)))
    
    print("\n\n")

At depth:  2

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.16204110181600523
Sal Test RMSE:  0.14483349532091377

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.10543475388567371
Sal_in_usd Test RMSE:  0.10377264122529371



At depth:  3

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.14952075702562354
Sal Test RMSE:  0.13920373696249597

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.07452903942161138
Sal_in_usd Test RMSE:  0.07710007706772992



At depth:  4

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.1377014071565983
Sal Test RMSE:  0.13684308343926882

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.05651734181062869
Sal_in_usd Test RMSE:  0.06349447371916495



At depth:  5

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.12329327808562565
Sal Test RMSE:  0.13149793435229118

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.04012175537085707
Sal_in_usd Test RMSE:  0.05417868694651492



At depth:  6

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.11088764966754862
Sal Test RMSE:  0.13320032916649172

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.02722965538990342
Sal_in_usd Test RMSE:  0.04922280492334083



At depth:  7

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.10043055932311352
Sal Test RMSE:  0.1288528219453134

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.01665385089251307
Sal_in_usd Test RMSE:  0.0446683500899318



At depth:  8

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)

Sal Train RMSE:  0.0921129467128632
Sal Test RMSE:  0.1289302123420246

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/3597693287.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

Sal_in_usd Train RMSE:  0.011126685879183017
Sal_in_usd Test RMSE:  0.04651794588215853

# etf at max_depth 8 is performing slightly  better than rtf waithout being biased

In [58]:
rft1=RandomForestRegressor(n_estimators=200,max_depth=8)
rft1.fit(x_train1,y_train1)
rft2=RandomForestRegressor(n_estimators=200,max_depth=8)
rft2.fit(x_train2,y_train2)

eft1=ExtraTreesRegressor(max_depth=8)
eft1.fit(x_train1,y_train1)
eft2=ExtraTreesRegressor(max_depth=8)
eft2.fit(x_train2,y_train2)

C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/374811886.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft1.fit(x_train1,y_train1)
C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/374811886.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft2.fit(x_train2,y_train2)
C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/374811886.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft1.fit(x_train1,y_train1)
C:\Users\Arsh\AppData\Local\Temp/ipykernel_7400/374811886.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  eft2.fit(x_train2,y_train2)

ExtraTreesRegressor(max_depth=8)

# Testing both eft and rft on random Data

In [62]:
sample=data1.sample(n=10)

sample

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
360,2022,3,2,20,215300,12,215300,53,100,45,0
237,2021,0,2,35,85000,12,85000,38,100,10,2
348,2022,0,2,35,28500,7,37300,19,100,16,0
458,2022,3,2,35,57000,6,62651,38,100,34,0
517,2022,3,2,1,184700,12,184700,53,0,45,1
368,2022,2,2,11,58000,12,58000,53,0,45,2
68,2021,0,2,11,80000,12,80000,53,100,45,1
160,2021,2,1,38,12000,12,12000,41,50,36,1
372,2022,2,2,20,55000,7,71982,19,0,16,1
27,2020,2,2,15,65000,6,74130,2,50,1,0

In [63]:
for sal in sample["salary"]:
    
    print(sal)

215300
85000
28500
57000
184700
58000
80000
12000
55000
65000

# eft

In [64]:
x1=sample.drop(["salary","salary_in_usd","work_year"],axis=1)
x2=sample.drop(["salary_in_usd","work_year"],axis=1)
y1=sample["salary"]
y2=sample["salary_in_usd"]

y1=y1.to_numpy()
y2=y2.to_numpy()

y1=y1.reshape(-1,1)
y2=y2.reshape(-1,1)

y1_std=minmax1.transform(y1)
y2_std=minmax2.transform(y2)

x_std1=sc1.transform(x1)

y_sal=eft1.predict(x_std1)

#y_sal_inverse=minmax1.inverse_transform(y_sal.reshape(-1,1))

print("Salary RMSE: ",np.sqrt(metrics.mean_squared_error(y1_std,y_sal)))

for psal,sal in zip(y_sal,x2["salary"]):
    
    sample.loc[x2["salary"]==sal,"salary"]=psal

    
x_std2=sc2.transform(x2)

y_salinusd=eft2.predict(x_std2)

#y_salinusd=minmax2.inverse_transform(y_salinusd)

print("Salary_in_usd RMSE: ",np.sqrt(metrics.mean_squared_error(y2_std,y_salinusd)))

Salary RMSE:  0.06586427587848935
Salary_in_usd RMSE:  0.0056937922312044285

# rft

In [65]:
x1=sample.drop(["salary","salary_in_usd","work_year"],axis=1)
x2=sample.drop(["salary_in_usd","work_year"],axis=1)
y1=sample["salary"]
y2=sample["salary_in_usd"]

y1=y1.to_numpy()
y2=y2.to_numpy()

y1=y1.reshape(-1,1)
y2=y2.reshape(-1,1)

y1_std=minmax1.transform(y1)
y2_std=minmax2.transform(y2)

x_std1=sc1.transform(x1)

y_sal=rft1.predict(x_std1)

#y_sal_inverse=minmax1.inverse_transform(y_sal.reshape(-1,1))

print("Salary RMSE: ",np.sqrt(metrics.mean_squared_error(y1_std,y_sal)))

for psal,sal in zip(y_sal,x2["salary"]):
    
    sample.loc[x2["salary"]==sal,"salary"]=psal

    
x_std2=sc2.transform(x2)

y_salinusd=rft2.predict(x_std2)

#y_salinusd=minmax2.inverse_transform(y_salinusd)

print("Salary_in_usd RMSE: ",np.sqrt(metrics.mean_squared_error(y2_std,y_salinusd)))

Salary RMSE:  0.3227103657929783
Salary_in_usd RMSE:  0.37045124561937454

# ExtraTreeRegressor works better than RandomForestRegressor on random data , hence we would go ahead with the same

# Saving the models,encoders  and scales

In [67]:
import joblib

# Model

joblib.dump(eft1,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_pred.pkl")
joblib.dump(eft2,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_in_usd_pred.pkl")

# Scales

joblib.dump(sc1,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_sc.pkl")
joblib.dump(sc2,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_in_usd_sc.pkl")
joblib.dump(minmax1,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_minmax.pkl")
joblib.dump(minmax2,"C:/Users/Arsh/Desktop/my project/DS job saleries/salary_in_usd_minmax.pkl")

# Labelencoders

le_explvl=LabelEncoder()
le_emptype=LabelEncoder()
le_jobtitle=LabelEncoder()
le_compsize=LabelEncoder()

le_comploc=LabelEncoder()
le_empres=LabelEncoder()
le_salcurr=LabelEncoder()

joblib.dump(le_explvl,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_explvl.pkl")
joblib.dump(le_emptype,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_emptype.pkl")
joblib.dump(le_jobtitle,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_jobtitle.pkl")
joblib.dump(le_compsize,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_compsize.pkl")
joblib.dump(le_comploc,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_comploc.pkl")
joblib.dump(le_empres,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_empres.pkl")
joblib.dump(le_salcurr,"C:/Users/Arsh/Desktop/my project/DS job saleries/le_salcurr.pkl")